.body {
    background-color: gray;
    border-radius: 5px;
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.top-part {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 25%;
    width: 100%;
}

.screen {
    background-color: greenyellow;
    height: 70%;
    width: 65%;
    border-radius: 5px;
    margin: 5px;
    overflow: scroll;
}

.display {
    word-wrap: break-word;
    text-align: center;
}

.clear {
    height: 30px;
    width: 30px;
    margin: 5px;
    border-radius: 5px;
}

.keypad {
    display: flex;
    height: 75%;
    flex-direction: row;
    justify-content: space-evenly;
}

.numbers {
    width: 150px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}

.num-butt {
    height: 30px;
    width: 30px;
    margin: 10px;
    border-radius: 5px;
}

.zero {
    height: 30px;
    width: 80px;
    margin: 10px;
    border-radius: 5px;
}

.equals {
    height: 30px;
    width: 30px;
    margin: 10px;
    border-radius: 5px;
}

.signs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sign-butt {
    height: 30px;
    width: 30px;
    margin: 10px;
    border-radius: 5px;
}