.cats-main {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chosen-one {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.one-img {
    max-height: 300px;
}