.app-main {
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  background-color: lightblue;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.calculator {
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(60, 60, 60);
  margin: 20px;
}

.cards {
  margin: 20px;
}

.dice {
  margin: 20px;
}

.tictactoe {
  margin: 20px;
}

.cats {
  margin: 20px;
}

.calc-func {
  margin: 20px;
}

.counter {
  margin: 20px;
}